.container-fluid {
  margin: 0 auto;
}

body {
  color: orange;
  background-color: #2d2d2d;
}

#save {
  width: 100px;
  height: 30px;
  background-color: #0c0;
  border: none;
  margin: 10px;
  font-weight: 900;
  color: black;
}

input {
  width: 200px;
  margin: 10px;
  color: black;
}

h4 {
  margin: 10px;
}

.mid {
  margin: 0 auto;
}

.q-box {
  padding: 25px;
  background-color: #3b3b3b;
  height: 250px;
}

.a-box {
  height: 250px;
  padding: 25px;
  background-color: #595959;
}

.count-box {
  background-color: #3b3b3b;
  height: 250px;
}

.count-btn {
  margin: 10px;
  background-color: #15db00;
  height: 30px;
  width: 150px;
  color: black;
  border: none;
}